/* THESE ARE MAPPED SEE: ./style.css.map */

/* GLOBAL ====================================== */
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/assets/bubbly2.jpg);
  background-size: contain;
}
a {
  color: #00B7FF;
}
h1 {
	font-family: 'Alfa Slab One', cursive;
}
/* MODAL ====================================== */
html .modal-dialog {
	max-width: 680px;
}
.modal .answerSomeQs {
	margin-bottom: 2rem;
}
/* HEADER ====================================== */
.logoHeader.jumbotron { 
  background-image: url(/assets/bgkd3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
	margin-bottom: 0;
 }
 #logo-holder {
    height: 300px;
    width: 370px;
    background-image: url(/assets/usa.png);
    display: block;
    position: relative;
    background-position-x: 70%;
    background-repeat: no-repeat;
 }
 #brewinLogo {
    position: absolute;
    top: -13%;
    transform: rotate(-10deg);
    left: -5%;
 }
 #interstate {

 }

 /* SUBNAV ====================================== */
 #subNav {
    background-image: url(/assets/darkwood3-crop.jpg);
    background-repeat: repeat-x;
    padding: 2.5rem;
    border-bottom: 5px solid black;
    box-shadow: 5px 65px 125px rgba(255,255,255,0.95);
 }
#subNav a, #subNav span {
 		color: white;
 		margin-right:1rem;
 	}
#toggleBrewed{
	color:white;
	margin-bottom: 2rem;
}
#toggleBrewed.faded {
    color: rgba(255,255,255,.7);
}
#subNav span {
	margin: 0 1rem;
}

/* FEATURED ====================================== */ 
section.featured-beer.jumbotron {
  min-height: 8rem;
  background-color: transparent;
  height: 56rem;
  display: block;
}
.six-pack-holder {
	 min-height: 8rem;
  background-color: transparent;
/*  background-image: url(/assets/six-pack-1-blue.png);
  background-position: 83% 104%;
  background-repeat: no-repeat;
  background-size: 700px;*/
  height: 56rem;
  display: block;
}

.featured-beer h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 7rem;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    padding-bottom: 0;
    width: fit-content;
    border-bottom: 1.25rem solid #212529;
    float: right;
}
.featured-beer h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    clear: right;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
    font-weight: bold;
}
.featured-text-holder h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    clear: right;
    text-shadow: 1px 1px rgba(255,255,255,0.7);
}
.featured-text-holder {
    text-align: right;
}
.featured-text-holder h3 span { 
	font-size: 1rem;
	margin-right:.5rem;
 }
.six-pack-holder img {
    max-width: 100%;
    padding: 3rem;
    max-height: 54rem;
    margin-left: 2rem;
}
/* These should really be done with Mixins and SASS */
 @media (max-width: 1600px) {  
 	section.featured-beer.jumbotron, .six-pack-holder {
	  height: 46rem;
 		}
  }
  @media (max-width: 1200px) {  
	 	section.featured-beer.jumbotron, .six-pack-holder {
		  height: 40rem;
	 		}
 		.featured-beer h1 {
 			font-size:4rem;
 			border-bottom: 1rem solid #212529;
 		}
 		.featured-beer h2 {
 			font-size: 3rem;
 		}
  } 
/* BEERS ====================================== */
.beer-holder {padding: 3rem 0 4rem 0 ;}
.beer-item-wrapper {  }
.beer-item {
	width: 25%;
}
html .card {
		background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 2rem;
}
.card-body {
    padding: 1.25rem;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 15px;
}
/* FOOTER ====================================== */
footer {
    background: url(/assets/darkwood3-crop.jpg);
    height: 10rem;
    color: white;
    padding-top: 2rem;
    border-top: 5px solid black;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    box-shadow: 10px -10px 150px black;
}
footer h4 {
	color: #dc3545;
}
footer p.small {
  color: #007bff;
}